name: Lint

on:
  push:
    branches:
      - "**"
      - "!dependabot/**"
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install ruff

      - name: Run ruff linter
        run: ruff check --config .github/workflows/etc/ruff.toml .

      - name: Run ruff formatter check
        run: ruff format --config .github/workflows/etc/ruff.toml --check .
